.mySlides { 
	display: none; 
} 

body { 
	/* background-color: rgb(255, 235, 211);  */
	background-color: #1e272e;
	
	font-family: Verdana, sans-serif; 
} 

.head { 
	margin-top: 20px; 
	margin-right: 20vw; 
	margin-left: 20vw; 
	text-align: center; 
	font-size: 30px; 
	background-color: #6f459e; 
	color: white; 
	border-radius: 19px; 
	font-weight: bolder; 
} 

.data-container { 
	/* max-width: 600px;  */
	height: 384px; 
	position: relative; 	
	margin: 10px auto; 
	/* left:100px; */
	width: 100%;
	max-width: 630px;

} 

.navbar>.container-fluid {
	display:flex;
	justify-content: center;
}

.bar { 
	width: 28px; 
	position: absolute; 
	left: 0; 
	bottom: 0; 
	background-color: rgb(0, 183, 255); 
	transition: 0.2s all ease;
	border-radius:5px; 
} 

.bar__id { 
	position: absolute; 
	top: -24px; 
	width: 100%; 
	text-align: center; 
} 
.btn1 { 
	padding: 12px; 
	font-weight: bolder; 
	background-color: #b2bec3;	 
	border-radius: 10px; 
	color: white; 
	font-size: 16px; 
	border: white; 
	margin-left: 37vw; 
	margin-top: 4vw; 
	margin-right: 1vw; 
} 
.btn2 { 
	padding: 12px; 
	font-weight: bolder; 
	background-color: #f8f9fa!important; 
	border-radius: 10px; 
	color: white; 
	font-size: 16px; 
	border: white; 
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {


#typed{
	font-size: 18px!important;

}

}